body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.react-datepicker-wrapper, .react-datepicker__input-container{
  width: 100%;
}

.react-datepicker__input-container input{
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
}
